openapi: 3.0.3
info:
  title: Paideia-State
  version: 0.1.0
servers:
  - url: http://testserver1.com
tags:
  - name: health
  - name: dao
  - name: staking
  - name: proposal
  - name: util
paths:
  /health:
    get:
      tags:
        - health
      operationId: health
      summary: Liveness check
      description: >-
        Always 200 while the process is up. Carries the current sync status,
        plus whether startup resumed from a persisted checkpoint
        (Paideia.restoreState) instead of a full archive replay, and the
        height that checkpoint was taken at.
      responses:
        "200":
          description: Process is alive
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/healthResponse"
  /ready:
    get:
      tags:
        - health
      operationId: ready
      summary: Readiness check
      description: >-
        503 while the initial sync is still catching up (every other
        endpoint's read paths reject requests during this time too), 200
        once caught up. Point load balancers and health checks here.
      responses:
        "200":
          description: Caught up with the node
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/readyResponse"
        "503":
          description: Still syncing
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/readyResponse"
  /dao/bootstrap:
    post:
      tags:
        - dao
      operationId: bootstrap
      summary: Build a transaction that bootstraps the protocol stake pool boxes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/bootstrapRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/unsignedTransaction"
        "400":
          $ref: "#/components/responses/badRequestTxBuild"
  /dao/:
    post:
      tags:
        - dao
      operationId: daoCreate
      summary: Build a transaction to create a new DAO
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createDAORequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/unsignedTransaction"
        "400":
          $ref: "#/components/responses/badRequestTxBuild"
  /dao:
    get:
      tags:
        - dao
      operationId: getAllDAOs
      summary: List all DAOs known to the current state
      description: >-
        Returns a map keyed by daoKey. Each value is a 3-tuple
        [name, boxCreationHeight, boxId], serialized by Play JSON as a plain
        JSON array (no field names).
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  $ref: "#/components/schemas/daoSummaryTuple"
        "400":
          $ref: "#/components/responses/badRequestText"
  /dao/{daoKey}/config:
    get:
      tags:
        - dao
      operationId: getDAOConfig
      summary: Get a DAO's decoded configuration tree
      parameters:
        - $ref: "#/components/parameters/daoKey"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/daoConfigEntry"
        "400":
          $ref: "#/components/responses/badRequestText"
  /dao/{daoKey}/treasury:
    get:
      tags:
        - dao
      operationId: getDAOTreasury
      summary: Get a DAO's treasury contract address
      parameters:
        - $ref: "#/components/parameters/daoKey"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: string
                description: Ergo address of the DAO's treasury contract
        "400":
          $ref: "#/components/responses/badRequestText"
  /dao/{daoKey}/treasury/health:
    get:
      tags:
        - dao
      operationId: getDAOTreasuryHealth
      summary: Get a DAO's treasury health
      description: >-
        Read straight from the volatile shortfall registry PaideiaSyncTask
        maintains - no read/write lock, no syncing check, so this stays
        available even while the sync task is still catching up. Always
        returns 200.
      parameters:
        - $ref: "#/components/parameters/daoKey"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/treasuryHealthResponse"
  /dao/{daoKey}/proposals:
    get:
      tags:
        - dao
      operationId: getDAOProposals
      summary: List a DAO's proposals
      description: >-
        Only includes proposals whose on-chain proposal box was found
        (box creation height > 0).
      parameters:
        - $ref: "#/components/parameters/daoKey"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/proposalSummary"
        "400":
          $ref: "#/components/responses/badRequestText"
  /stake:
    post:
      tags:
        - staking
      operationId: stake
      summary: Build a transaction to create a new stake
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/stakeRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/unsignedTransaction"
        "400":
          $ref: "#/components/responses/badRequestTxBuild"
  /stake/{daoKey}:
    get:
      tags:
        - staking
      operationId: getDaoStake
      summary: Get a DAO's aggregate staking state
      parameters:
        - $ref: "#/components/parameters/daoKey"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/daoStakeInfo"
        "400":
          $ref: "#/components/responses/badRequestText"
  /stake/{daoKey}/{stakeKey}:
    get:
      tags:
        - staking
      operationId: getStake
      summary: Get a single stake record
      parameters:
        - $ref: "#/components/parameters/daoKey"
        - $ref: "#/components/parameters/stakeKey"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/stakeInfo"
        "404":
          description: No stake found for stakeKey
        "400":
          $ref: "#/components/responses/badRequestText"
  /stake/{daoKey}/stakes:
    post:
      tags:
        - staking
      operationId: getStakes
      summary: Look up stake records for a set of candidate stake keys
      description: >-
        Keys in potentialKeys that are not valid stake keys, or that have no
        matching stake record, are silently dropped from the response.
      parameters:
        - $ref: "#/components/parameters/daoKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/getStakesRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/stakeInfo"
        "400":
          $ref: "#/components/responses/badRequestValidationOrText"
  /stake/add:
    post:
      tags:
        - staking
      operationId: addStake
      summary: Build a transaction to add funds to an existing stake
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/addStakeRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/unsignedTransaction"
        "400":
          $ref: "#/components/responses/badRequestTxBuild"
  /stake/remove:
    post:
      tags:
        - staking
      operationId: unstake
      summary: Build a transaction to withdraw (all or part of) a stake
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/unstakeRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/unsignedTransaction"
        "400":
          $ref: "#/components/responses/badRequestTxBuild"
  /proposal:
    post:
      tags:
        - proposal
      operationId: createProposal
      summary: Build a transaction to create a new proposal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createProposalRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/unsignedTransaction"
        "400":
          $ref: "#/components/responses/badRequestTxBuild"
  /proposal/vote:
    post:
      tags:
        - proposal
      operationId: castVote
      summary: Build a transaction to cast (or change) a vote on a proposal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/castVoteRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/unsignedTransaction"
        "400":
          $ref: "#/components/responses/badRequestTxBuild"
  /proposal/{daoKey}/{index}:
    get:
      tags:
        - proposal
      operationId: getProposal
      summary: Get a single proposal by index
      parameters:
        - $ref: "#/components/parameters/daoKey"
        - name: index
          in: path
          description: Proposal index within the DAO
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/proposal"
        "400":
          $ref: "#/components/responses/badRequestText"
  /util/contractSignature:
    post:
      tags:
        - util
      operationId: getContractSignature
      summary: Resolve a known contract's signature/address/ergotree
      description: >-
        Look up by contractHash or contractAddress against already
        instantiated contracts, or instantiate a new instance by
        contractClass + contractVersion + contractDaoKey.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/getContractSignatureRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/contractSigModel"
        "400":
          $ref: "#/components/responses/badRequestValidationOrText"
components:
  parameters:
    daoKey:
      name: daoKey
      in: path
      description: Token id identifying the DAO
      required: true
      schema:
        type: string
    stakeKey:
      name: stakeKey
      in: path
      description: Token id of the stake/vote key
      required: true
      schema:
        type: string
  responses:
    badRequestText:
      description: >-
        Request failed (includes "Paideia state is currently syncing, try
        again some time later." while the sync task is still catching up).
      content:
        text/plain:
          schema:
            type: string
    badRequestTxBuild:
      description: >-
        Request body failed JSON validation, or transaction building failed
        (insufficient funds/tokens for the sender, no viable change box, or
        another server-side error, including "Paideia state is currently
        syncing, try again some time later." while still catching up).
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/validationError"
        text/plain:
          schema:
            type: string
            example: Not enough erg in wallet for staking
    badRequestValidationOrText:
      description: >-
        Request body failed JSON validation, or the lookup itself failed
        (including "Paideia state is currently syncing, try again some time
        later." while still catching up).
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/validationError"
        text/plain:
          schema:
            type: string
  schemas:
    validationError:
      type: object
      description: >-
        Play JSON's JsError.toJson shape: JSON-path keys mapping to arrays
        of {msg, args} validation failures.
      additionalProperties: true
      example:
        obj.daoKey:
          - msg:
              - error.path.missing
            args: []
    syncStatus:
      type: object
      properties:
        syncing:
          type: boolean
        currentHeight:
          type: integer
        nodeHeight:
          type: integer
        lag:
          type: integer
          description: nodeHeight - currentHeight, or -1 if nodeHeight is not yet known
    healthResponse:
      allOf:
        - type: object
          properties:
            status:
              type: string
              enum:
                - ok
        - $ref: "#/components/schemas/syncStatus"
        - type: object
          properties:
            restoredFromCheckpoint:
              type: boolean
              description: >-
                Whether startup resumed from a persisted checkpoint instead
                of a full archive replay
            checkpointHeight:
              type: integer
    readyResponse:
      allOf:
        - type: object
          properties:
            status:
              type: string
              enum:
                - ready
                - syncing
        - $ref: "#/components/schemas/syncStatus"
    daoSummaryTuple:
      type: array
      description: Tuple [name, boxCreationHeight, boxId] serialized as a JSON array.
      minItems: 3
      maxItems: 3
      items: {}
      example:
        - My first DAO
        - 1234567
        - a1b2c3d4e5f6...boxId
    daoConfigEntry:
      type: object
      properties:
        key:
          type: string
          description: Known DAO config key name, or "Unknown key"/"Unknown Key" if unrecognized
        valueType:
          type: string
          description: >-
            Decoded value's type tag, e.g. "Byte", "Short", "Int", "Long",
            "BigInt", "Boolean", "String", "ContractSignature", or a
            composite like "(Byte,Long)" / "[Long]"
        value:
          type: string
          description: Decoded value, rendered as a string
    treasuryHealthResponse:
      oneOf:
        - type: object
          properties:
            status:
              type: string
              enum:
                - ok
        - type: object
          properties:
            status:
              type: string
              enum:
                - short
            missingNanoErgs:
              type: integer
              format: int64
              nullable: true
              description: needed - found nanoERG, never negative
            missingTokens:
              type: object
              additionalProperties:
                type: integer
                format: int64
              description: tokenId -> needed - found amount, never negative
            height:
              type: integer
              description: Sync height at which this shortfall was last observed
    proposalSummary:
      type: object
      properties:
        proposalIndex:
          type: integer
        proposalName:
          type: string
        proposalHeight:
          type: integer
          description: Creation height of the proposal's on-chain box
        proposalBoxId:
          type: string
    address:
      type: string
      example: 9h7L7sUHZk43VQC3PHtSp5ujAWcZtYmWATBH746wi75C5XHi68b
    mToken:
      type: object
      properties:
        tokenId:
          type: string
        amount:
          type: string
          description: Token amount, rendered as a string
    contextExtension:
      type: object
      description: Context extension values keyed by their numeric register index (as a string)
      additionalProperties:
        type: string
        description: Hex-encoded serialized ErgoValue
    additionalRegisters:
      type: object
      additionalProperties:
        type: string
      example:
        R4: "0e349568322134"
    mInput:
      type: object
      properties:
        extension:
          $ref: "#/components/schemas/contextExtension"
        boxId:
          type: string
        value:
          type: string
          description: Box value in nanoERG, rendered as a string
        ergoTree:
          type: string
          description: Hex-encoded ErgoTree
        assets:
          type: array
          items:
            $ref: "#/components/schemas/mToken"
        additionalRegisters:
          $ref: "#/components/schemas/additionalRegisters"
        creationHeight:
          type: integer
        transactionId:
          type: string
        index:
          type: integer
          description: Output index within its transaction
    mOutput:
      type: object
      properties:
        value:
          type: string
          description: Box value in nanoERG, rendered as a string
        ergoTree:
          type: string
          description: Hex-encoded ErgoTree
        assets:
          type: array
          items:
            $ref: "#/components/schemas/mToken"
        additionalRegisters:
          $ref: "#/components/schemas/additionalRegisters"
        creationHeight:
          type: integer
    unsignedTransaction:
      type: object
      properties:
        inputs:
          type: array
          items:
            $ref: "#/components/schemas/mInput"
        dataInputs:
          type: array
          items:
            $ref: "#/components/schemas/mInput"
        outputs:
          type: array
          items:
            $ref: "#/components/schemas/mOutput"
    stakeRecord:
      type: object
      properties:
        stake:
          type: integer
          format: int64
        lockedUntil:
          type: integer
          format: int64
        rewards:
          type: array
          items:
            type: integer
            format: int64
    participationRecord:
      type: object
      properties:
        voted:
          type: integer
          format: int64
        votedTotal:
          type: integer
          format: int64
    stakeInfo:
      type: object
      properties:
        stakeKey:
          type: string
        stakeRecord:
          $ref: "#/components/schemas/stakeRecord"
        participationRecord:
          $ref: "#/components/schemas/participationRecord"
          nullable: true
    daoStakeInfo:
      type: object
      properties:
        totalStaked:
          type: integer
          format: int64
        stakers:
          type: integer
          format: int64
        profit:
          type: array
          items:
            type: integer
            format: int64
        voted:
          type: integer
          format: int64
        votedTotal:
          type: integer
          format: int64
        nextEmission:
          type: integer
          format: int64
        emission:
          type: integer
          format: int64
        cycleLength:
          type: integer
          format: int64
    tokenAmountTuple:
      type: array
      description: Tuple [tokenId, amount] serialized as a JSON array.
      minItems: 2
      maxItems: 2
      items: {}
      example:
        - a1b2c3d4e5f6...tokenId
        - 100
    sendFundsActionOutput:
      type: object
      properties:
        address:
          type: string
        nergs:
          type: integer
          format: int64
        tokens:
          type: array
          items:
            $ref: "#/components/schemas/tokenAmountTuple"
        registers:
          type: array
          items:
            type: string
          description: >-
            Hex-encoded serialized ErgoValues. Always empty on responses
            derived from proposal action boxes (getProposal).
    sendFundsAction:
      type: object
      properties:
        activationTime:
          type: integer
          format: int64
        optionId:
          type: integer
        outputs:
          type: array
          items:
            $ref: "#/components/schemas/sendFundsActionOutput"
    updateConfigAction:
      type: object
      properties:
        optionId:
          type: integer
        activationTime:
          type: integer
          format: int64
        remove:
          type: array
          items:
            type: string
        update:
          type: array
          items:
            $ref: "#/components/schemas/daoConfigEntry"
        insert:
          type: array
          items:
            $ref: "#/components/schemas/daoConfigEntry"
    action:
      description: >-
        Discriminated union written as {"actionType": ..., "action": ...}.
      oneOf:
        - type: object
          properties:
            actionType:
              type: string
              enum:
                - SendFundsAction
            action:
              $ref: "#/components/schemas/sendFundsAction"
        - type: object
          properties:
            actionType:
              type: string
              enum:
                - UpdateConfigAction
            action:
              $ref: "#/components/schemas/updateConfigAction"
      discriminator:
        propertyName: actionType
        mapping:
          SendFundsAction: "#/components/schemas/sendFundsAction"
          UpdateConfigAction: "#/components/schemas/updateConfigAction"
    proposalVote:
      type: object
      properties:
        stakeKey:
          type: string
        vote:
          type: array
          items:
            type: integer
            format: int64
    proposalBasic:
      type: object
      properties:
        proposalIndex:
          type: integer
        name:
          type: string
        endTime:
          type: integer
          format: int64
        passed:
          type: integer
          description: 0 = pending, otherwise a passed/failed status code
        actions:
          type: array
          items:
            $ref: "#/components/schemas/action"
        votes:
          type: array
          items:
            type: integer
            format: int64
        box_height:
          type: integer
          format: int64
        individual_votes:
          type: array
          items:
            $ref: "#/components/schemas/proposalVote"
        box_id:
          type: string
    proposal:
      description: >-
        Discriminated union written as {"proposalType": ..., "proposal": ...}.
        Only "ProposalBasic" is currently supported by the deserializer.
      type: object
      properties:
        proposalType:
          type: string
          enum:
            - ProposalBasic
        proposal:
          $ref: "#/components/schemas/proposalBasic"
    bootstrapRequest:
      type: object
      required:
        - stakepoolSize
        - userAddresses
      properties:
        stakepoolSize:
          type: integer
          format: int64
        userAddresses:
          type: array
          items:
            $ref: "#/components/schemas/address"
    createDAORequest:
      type: object
      required:
        - name
        - url
        - logo
        - description
        - minProposalTime
        - banner
        - bannerEnabled
        - footer
        - footerEnabled
        - theme
        - daoGovernanceTokenId
        - stakePoolSize
        - governanceType
        - quorum
        - threshold
        - stakingEmissionAmount
        - stakingEmissionDelay
        - stakingCycleLength
        - stakingProfitSharePct
        - userAddresses
        - pureParticipationWeight
        - participationWeight
      properties:
        name:
          type: string
        url:
          type: string
        logo:
          type: string
        description:
          type: string
        minProposalTime:
          type: integer
          format: int64
        banner:
          type: string
        bannerEnabled:
          type: boolean
        footer:
          type: string
        footerEnabled:
          type: boolean
        theme:
          type: string
        daoGovernanceTokenId:
          type: string
        stakePoolSize:
          type: integer
          format: int64
          description: >-
            Deserialized from the request but not currently forwarded to the
            DAO-creation transaction (the controller always uses 0 for the
            box's stake pool size field); still required on the wire.
        governanceType:
          type: string
          enum:
            - OPTIMISTIC
            - DEFAULT
        quorum:
          type: integer
          format: int64
        threshold:
          type: integer
          format: int64
        stakingEmissionAmount:
          type: integer
          format: int64
        stakingEmissionDelay:
          type: integer
          description: Byte value (0-255)
        stakingCycleLength:
          type: integer
          format: int64
        stakingProfitSharePct:
          type: integer
          description: Byte value (0-255)
        userAddresses:
          type: array
          items:
            $ref: "#/components/schemas/address"
          description: >-
            userAddresses[0] is used as the DAO's initial governance/creator
            address; the full list is used to fund the transaction.
        pureParticipationWeight:
          type: integer
          description: Byte value (0-255)
        participationWeight:
          type: integer
          description: Byte value (0-255)
    stakeRequest:
      type: object
      required:
        - daoKey
        - userAddress
        - stakeAmount
        - userAddresses
      properties:
        daoKey:
          type: string
        userAddress:
          $ref: "#/components/schemas/address"
        stakeAmount:
          type: integer
          format: int64
        userAddresses:
          type: array
          items:
            $ref: "#/components/schemas/address"
    addStakeRequest:
      type: object
      required:
        - daoKey
        - stakeKey
        - userAddress
        - addStakeAmount
        - userAddresses
      properties:
        daoKey:
          type: string
        stakeKey:
          type: string
        userAddress:
          $ref: "#/components/schemas/address"
        addStakeAmount:
          type: integer
          format: int64
        userAddresses:
          type: array
          items:
            $ref: "#/components/schemas/address"
    unstakeRequest:
      type: object
      required:
        - daoKey
        - stakeKey
        - newStakeRecord
        - userAddress
        - userAddresses
      properties:
        daoKey:
          type: string
        stakeKey:
          type: string
        newStakeRecord:
          $ref: "#/components/schemas/stakeRecord"
          description: Target stake record after this transaction (a lower stake than the current one withdraws the difference)
        userAddress:
          $ref: "#/components/schemas/address"
        userAddresses:
          type: array
          items:
            $ref: "#/components/schemas/address"
    getStakesRequest:
      type: object
      required:
        - potentialKeys
      properties:
        potentialKeys:
          type: array
          items:
            type: string
          description: Candidate stake key token ids to resolve; unresolvable/unknown keys are dropped from the response
    createSendFundsActionOutput:
      type: object
      required:
        - address
        - nergs
        - tokens
        - registers
      properties:
        address:
          $ref: "#/components/schemas/address"
        nergs:
          type: integer
          format: int64
        tokens:
          type: array
          items:
            $ref: "#/components/schemas/tokenAmountTuple"
        registers:
          type: array
          items:
            type: string
          description: Hex-encoded serialized ErgoValues
    createSendFundsActionRequest:
      type: object
      required:
        - optionId
        - repeats
        - repeatDelay
        - activationTime
        - outputs
      properties:
        optionId:
          type: integer
        repeats:
          type: integer
        repeatDelay:
          type: integer
          format: int64
        activationTime:
          type: integer
          format: int64
        outputs:
          type: array
          items:
            $ref: "#/components/schemas/createSendFundsActionOutput"
    createUpdateConfigActionRequest:
      type: object
      required:
        - optionId
        - activationTime
        - remove
        - update
        - insert
      properties:
        optionId:
          type: integer
        activationTime:
          type: integer
          format: int64
        remove:
          type: array
          items:
            type: string
          description: DAO config key names to remove
        update:
          type: array
          items:
            $ref: "#/components/schemas/daoConfigEntry"
        insert:
          type: array
          items:
            $ref: "#/components/schemas/daoConfigEntry"
    createProposalRequest:
      type: object
      required:
        - daoKey
        - name
        - voteKey
        - userAddress
        - userAddresses
        - endTime
        - sendFundsActions
        - updateConfigActions
      properties:
        daoKey:
          type: string
        name:
          type: string
        voteKey:
          type: string
        userAddress:
          $ref: "#/components/schemas/address"
        userAddresses:
          type: array
          items:
            $ref: "#/components/schemas/address"
        endTime:
          type: integer
          format: int64
        sendFundsActions:
          type: array
          items:
            $ref: "#/components/schemas/createSendFundsActionRequest"
        updateConfigActions:
          type: array
          items:
            $ref: "#/components/schemas/createUpdateConfigActionRequest"
    castVoteRequest:
      type: object
      required:
        - daoKey
        - stakeKey
        - proposalIndex
        - votes
        - userAddress
        - userAddresses
      properties:
        daoKey:
          type: string
        stakeKey:
          type: string
        proposalIndex:
          type: integer
        votes:
          type: array
          items:
            type: integer
            format: int64
        userAddress:
          $ref: "#/components/schemas/address"
        userAddresses:
          type: array
          items:
            $ref: "#/components/schemas/address"
    getContractSignatureRequest:
      type: object
      description: >-
        Either contractHash or contractAddress selects an existing contract
        instance; contractClass (with contractVersion and contractDaoKey)
        instantiates a new one.
      properties:
        contractHash:
          type: array
          nullable: true
          items:
            type: integer
          description: Blake2b256 hash bytes (each 0-255)
        contractAddress:
          type: string
          nullable: true
        contractClass:
          type: string
          nullable: true
        contractDaoKey:
          type: string
          nullable: true
        contractVersion:
          type: string
          nullable: true
    contractSigModel:
      type: object
      properties:
        className:
          type: string
        daoKey:
          type: string
        version:
          type: string
        hash:
          type: string
          description: Hex-encoded Blake2b256 contract hash
        address:
          type: string
          description: Ergo address of the contract
        ergotreeBytes:
          type: string
          description: Hex-encoded ErgoTree bytes
